.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.header{
    font-size: 32px;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}